<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged Out</title>
</head>
<style>
    body {
        background-color: #abebe8;
    }
    h1 {
        position:relative;
        left:30px;
        top:30px;
    }
    h3 {
        position:relative;
        left:100px;
        top:30px;
    }
</style>
<body>
<h1>You have been logged out: </h1><br>

    <h3>Click <a href = "http://127.0.0.1:8000/accounts/login/">here</a> to log back in.<br>
    OR<br>
    Return to <a href = "home">home</a> page.</h3>
</body>
</html>